{% extends 'base.html' %}

{% block content %}
    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="son-1">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>ABOUT US</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">About Us</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start About Page  -->
    <div class="about-box-main">
        <div class="container">
            <h2 class="noo-sh-title-top text-center mb-4">We are Apiviva Agrotechno Consult & Supplies Ltd</h2>
            <div class="row">
				<div class="col-lg-6">
                    <div class="banner-frame"> <img class="img-fluid mb-4" src="static/images/about-img.jpg" alt="" />
                </div>
                <p>
                    The company was founded in 2019 by Emmanuel Apiku and Vivian Ababiku Apiku.
                    Four (04) years before, Emmanuel Apiku was working as the staff in the Agricultural Department of a Charitable
                    missionary organization as the Principal Agricultural Extension Officer (PAEO)/Agricultural Livelihood Focal person,
                    he discovered a big problem in meeting the needs of the rural farmers in transforming the rural populace into a
                    sustainable food and income security through the current approaches, these current approaches of training alone would
                    rather impair satisfying the rapidly growing market demands. Emmanuel Apiku later initiated a plan to create their own
                    company which is not only providing Agricultural Advisory Services/training to the rural farmers but also supplies of high quality 
                    agricultural inputs, research and consultancy services to farming households/groups and organizations engaged 
                    in livelihood and its related activities as well. <br>Together working with him in this effort is his wife Vivian Ababiku Apiku,
                    Charity organizations and groups that directly or indirectly support rural farmers in fighting food and income security through 
                    Agricultural information dissemination/trainings and input supplies. 
                </p>
                </div>
                <div class="col-lg-6">
                    <p>
                        After they discovered that total charity kills indigenous creativity by breeding an un ending dependency among the rural farmers
                        and total business depletes them off the local resource through profit repatriation that benefits a few members of the value chain,
                        they persuaded each other to incorporate their ideas into a limited liability compony with a dual legal identity of charity and business.
                        Apiviva Agrotechno Consult & Supplies Ltd finally came into a legal existence on the 6th day of May 2019.
                    </p>
                    <p>
                        Till this day, Apiviva Agrotechno Consult & Supplies Ltd has saved cost of acquiring high quality agricultural inputs for the rural farmers 
                        and offered timely quality agricultural advisory services/trainings to its cliental at no cost  in the last 2 years directly reaching about 
                        15,000 farming households with its products and services in over 4 districts (Moyo, Adjumani, Obongi and Yumbe)  of Northern Uganda, West Nile Region including parts of Southern 
                        Sudan (Nimule and Kojo-Keji County).
                    </p>
                    <h2 class="noo-sh-title-top">Our Vision</h2>
                    <p>
                        “To Empower the marginalised farming communities through provision of competitive and timely yet quality agricultural inputs & services regardless 
                        of religious boundaries".
                    </p>
                    <h2 class="noo-sh-title-top">Our Mission</h2>
                    <p>
                        <strong>From “Genesis 26:12-13”</strong><br>
                        “To empower the rural farmers economically and strengthen household food security through provision of affordable and quality agricultural inputs, trainings and advisory 
                        services while observing the core principles of sustainable development and Godly values".
                    </p>
                    <h2 class="noo-sh-title-top">Our Objectives</h2>
                    <ul class="fa-ul mb-4">
                        <li><i class="fa-li fa fa-check-square"></i>Food security at household level</li>
                        <li><i class="fa-li fa fa-check-square"></i>Financial sustainability through agricultural income generation</li>
                        <li><i class="fa-li fa fa-check-square"></i>Social impact through wholistic community transformation</li>
                        <li><i class="fa-li fa fa-check-square"></i>Creativity and inspirational interdependency</li>
                    </ul>
					<a class="btn hvr-hover" href="{{ url_for('contact')}}">Contact Us</a>
                </div>
            </div>
            <div class="row my-5">
                <div class="container">
                    <h2 class="noo-sh-title-top">Our Core Values</h2>
                    <div class="row">
                        <div class="col-lg-4 col-sm-16">
                            <ul class="fa-ul mb-4">
                                <li><i class="fa-li fa fa-check-square"></i>Professionalism</li>
                                <li><i class="fa-li fa fa-check-square"></i>Customer care</li>
                                <li><i class="fa-li fa fa-check-square"></i>Inspirational partnership</li>
                                <li><i class="fa-li fa fa-check-square"></i>Transformative networking</li>
                            </ul>
                        </div>
                        <div class="col-lg-4 col-sm-16">
                            <ul class="fa-ul mb-4">
                                <li><i class="fa-li fa fa-check-square"></i>Integrity</li>
                                <li><i class="fa-li fa fa-check-square"></i>Expertise</li>
                                <li><i class="fa-li fa fa-check-square"></i>Research</li>
                                <li><i class="fa-li fa fa-check-square"></i>Team work</li>
                            </ul>
                        </div>
                        <div class="col-lg-4 col-sm-16">
                            <ul class="fa-ul mb-4">
                                <li><i class="fa-li fa fa-check-square"></i>Transparency in service delivery</li>
                                <li><i class="fa-li fa fa-check-square"></i>Consistency in time & space</li>
                                <li><i class="fa-li fa fa-check-square"></i>Creativity through income generating activities</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row my-4">
                <div class="col-12">
                    <h2 class="noo-sh-title">Meet Our Team</h2>
                </div>
                <div class=" row justify-content-center">
                    <div class="col-sm-6 col-lg-3">
                        <div class=" pl-3">
                            <div class="our-team"> <img src="static/images/img-1.jpg" alt="" />
                                <div class="team-content">
                                    <h4 class="title">Apiku Emmanuel</h4> <span class="post">CEO</span> </div>
                                <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
                            </div>
                            <div class="team-description">
                                <p>
                                    Holds Honors Bachelor’s Degree in Agriculture, Post Graduate Diploma in Project Planning 
                                    and Management and undergoing Masters’ Degree studies in Management  Studies while he  possess a unique 
                                    knowledge and practical expertise in Agricultural Science and technology, Agricultural communication, 
                                    Marketing & Advertisement, Project Planning and Management.
                                </p>
                            </div>
                            <hr class="my-0">
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="hover-team pl-3">
                            <div class="our-team"> <img src="static/images/img-2.jpg" alt="" />
                                <div class="team-content">
                                    <h4 class="title">Ababiku V. Apiku</h4> <span class="post">Director Administration & Finance</span> </div>
                                <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
                            </div>
                            <div class="team-description">
                                <p>
                                    Holds a Bachelor’s Degree in Public Administration & Management 
                                    and Certificate in Law while she possess rather a unique knowledge in Public/organizational 
                                    Administration & Management, Financial Management, Business communication,  Administrative 
                                    and Business laws and regulations in additional she is gifted understanding customer expectation 
                                    alongside business communication.
                                </p>
                            </div>
                            <hr class="my-0"> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End About Page -->

{% endblock %}