{% extends 'base.html' %}

{% block content %}
    <!-- Start Slider -->
    <div id="slides-shop" class="cover-slides">
        <ul class="slides-container">
            <li class="text-center">
                <img src="static/images/seeds.jpg" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><small> Welcome </small></h1>
                            <p class="m-b-40"> to our one stop center for all your agricultural inputs and services.</p>
                            <p><a class="btn hvr-hover" href="{{ url_for('about')}}">Learn more...</a></p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="text-center">
                <img src="static/images/demo.jpg" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><small><strong>Advisory Services<br></strong></small></h1>
                            <p class="m-b-40">Contact us to seek advice for excellent quality and quantity farm yields.</p>
                            <p><a class="btn hvr-hover" href="{{ url_for('contact')}}">Contact Now</a></p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="text-center">
                <img src="static/images/cattle.jpg" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><small><strong>Annimals<br></strong></small></h1>
                            <p class="m-b-40">Reach us for the health of your farm animals.</p>
                            <p><a class="btn hvr-hover" href="{{url_for('contact')}}">Contact Now</a></p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="text-center">
                <img src="static/images/yield.jpg" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><small><strong>Seeds<br></strong></small></h1>
                            <p class="m-b-40">Visit us for your most reliable and viable seeds for better yields.</p>
                            <p><a class="btn hvr-hover" href="{{ url_for('services')}}">Check Out</a></p>
                        </div>
                    </div>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#f3f4f5" fill-opacity="0.76" d="M0,96L60,117.3C120,139,240,181,360,208C480,235,600,245,720,218.7C840,192,960,128,1080,90.7C1200,53,1320,43,1380,37.3L1440,32L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path></svg>
            </li>
        </ul>
        <div class="slides-navigation">
            <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
            <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
        </div>
    </div>
    <!-- End Slider -->
    <!-- Start Products  -->
    <div class="products-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-all text-center">
                        <h1>Farm Inputs & Tools</h1>
                        <p>Browse through the list of our products and services, find what you need and place your order or contact us.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="special-menu text-center">
                        <div class="button-group filter-button-group">
                            <button class="active" data-filter="*">All</button>
                            <button data-filter=".top-featured">Top featured</button>
                            <button data-filter=".best-seller">Best seller</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row special-list">
                <div class="col-lg-3 col-md-6 special-grid best-seller">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img src="static/images/img-pro-01.jpg" class="img-fluid" alt="Image">
                            <div class="mask-icon"></div>
                        </div>
                        <div class="why-text">
                            <h4>Green Paper</h4>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 special-grid top-featured">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img src="static/images/img-pro-02.jpg" style="height: 200px;" class="img-fluid" alt="Image">
                            <div class="mask-icon"></div>
                        </div>
                        <div class="why-text">
                            <h4>Cabbage</h4>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 special-grid top-featured">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img src="static/images/img-pro-03.jpg" style="height: 200px;" class="img-fluid" alt="Image">
                            <div class="mask-icon"></div>
                        </div>
                        <div class="why-text">
                            <h4>Tomatos</h4>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 special-grid best-seller">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img src="static/images/img-pro-04.jpg" class="img-fluid" alt="Image">
                            <div class="mask-icon"></div>
                        </div>
                        <div class="why-text">
                            <h4>Onions</h4>
                        </div>
                    </div>
                </div>
            </div>
            <p class="text-center"><a class="btn hvr-hover" href="{{ url_for('shop')}}">Browse more...</a></p>
        </div>
    </div>
    <!-- End Products  -->

    <!-- Start Blog  -->
    <div class="latest-blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-all text-center">
                        <h1>Success Stories</h1>
                        <p>Read what some of our customers has to say after working with us.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4 col-xl-4">
                    <div class="blog-box">
                        <div class="blog-img">
                            <img class="img-fluid" src="static/images/consult0.jpg" alt="" style="height: 244px; width: 400px;" />
                        </div>
                        <div class="blog-content">
                            <div class="title-blog">
                                <h3>Mr. Drajuruga Steven</h3>
                                <p>
                                    A youth in Eria village, Moyo Subcounty, Moyo District, Westnile Region of Uganda, reported that; 
                                    "I was a boda boda cyclist and the money I get is too small. When my child was hospitalized on referral
                                    , I had to sell off my boda (Motorcycle used for transportation of people & cargo), when I learnt about 
                                    your radio extension program, the quality Advisory services you offered freely to the farmers and the 
                                    agro inputs Apiviva Ltd brought closer to the community at a relatively subsidized prices inspired me to
                                    start vegetable farming as a business mainly specializing in Tomatoes and Water Melon and I was able to
                                    raise about Seven(7) Million from my Water Melon this season 2020. You have helped our people and God will
                                    reward you".
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-4">
                    <div class="blog-box">
                        <div class="blog-img">
                            <img class="img-fluid" src="static/images/field.jpg" alt="" />
                        </div>
                        <div class="blog-content">
                            <div class="title-blog">
                                <h3>Mr. Ali (center) & Mr. Kasiime (left)</h3>
                                <p>
                                    These are such rear Muslim youths who are engaged in vegetable farming as 
                                    a business and had this to say; "We had valued Agriculture as the least important
                                    vocations to undertake, I Mr. Ali dropped out from my Bachelor's Degree in Education
                                    from Islamic University in Uganda (IUIU) Mbale because of lack of school fees but when
                                    I started practicing your advice on the mass media (radio) program, mobile call 
                                    conversations and on the farm advices you offered, we were able to mobilize some money 
                                    though we failed in some enterprise, the knowledge I acquired has inspired me, I'm sure 
                                    from Tomatoes and Water Melon by 2021, I will be able to raise money to resume my Degree
                                    course in IUIU by 2022. Allah always blesses those who are generous with knowledge, He
                                    will reward you (Mr. Apiku Emmanuel, CEO Apiviva Ltd) for all that you have sacrificed 
                                    to lift the farmers  from poverty by educating them and providing good agro inputs".
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-4">
                    <div class="blog-box">
                        <div class="blog-img">
                            <img class="img-fluid" src="static/images/field3.jpg" alt="" style="height: 244px; width: 400px;" />
                        </div>
                        <div class="blog-content">
                            <div class="title-blog">
                                <h3>Ayaa village Youths</h3>
                                <p>
                                    These youths in Ayaa village in Otze Subcounty, Metu Mountain, Moyo District after attending 
                                    a training on Water Melon pests & Diseases management in their own field. Mr. Inzama (second 
                                    right holding dried melon vine), Mr. Isaac (Third right next to Inzama) and Mr. Wale Christopher
                                    (in red shirt behind the man in yellow) reported as; " We followed your advice on Tomatoe production
                                    and management and it yielded for us good revenue but we show alot of Water Melon in Moyo main market
                                    and the farmers told us that they purchased the seeds from you and you people gave them free Advisory
                                    services and field follow up that resulted to their successes. Water Melon is profitable and we were
                                    inspired to grow it too. When ever we called you on your mobile numbers, you responded with
                                    selfless Advisory services, your presence on the farm is rather more practical and workable, Apiviva Ltd
                                    has come to eradicate poverty in our communities, it's our first time to see agro stockist following up
                                    their farmers & give credits".
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Blog  -->

{% endblock %}