{% extends 'base.html' %}

{% block content %}
    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Services</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ url_for('index') }}">Home</a></li>
                        <li class="breadcrumb-item active">Services</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start Services  -->
    <div class="products-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-all text-center">
                        <h1>Our Products & Services</h1>
                        <p>Browse all there is to offer in our catalog, we shall be right besides you to help.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="special-menu text-center">
                        <div class="button-group filter-button-group">
                            <button class="active" data-filter="*">All</button>
                            <button data-filter=".cereal">Cereals</button>
							<button data-filter=".podded-vegetables">Vegetables</button>
                            <button data-filter=".chem">Pesticides</button>
                            <button data-filter=".fert">Fertilizers</button>
                            <button data-filter=".herb">Herbicides</button>
                            <button data-filter=".tools">Tools</button>
                            <button data-filter=".consultation-and-advisory">Consultation & Advisory</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row special-list">
                <div class="col-lg-3 col-md-6 special-grid cereal">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <div class="type-lb">
                                <p class="sale">Sale</p>
                            </div>
                            <img src="static/images/cereal.jpg" class="img-fluid" alt="Image">
                            <div class="mask-icon">
                                <a class="cart" href="{{ url_for('cart') }}">Add to Cart</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 special-grid podded-vegetables">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img src="static/images/veg6.jpg" class="img-fluid" alt="Image">
                            <div class="mask-icon"></div>
                        </div>                        
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 special-grid chem">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img src="static/images/chem0.jpg" class="img-fluid" alt="Image">
                            <div class="mask-icon"></div>
                        </div>                        
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 special-grid chem">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img src="static/images/chem1.jpg" class="img-fluid" alt="Image">
                            <div class="mask-icon"></div>
                        </div>                        
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 special-grid chem">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img src="static/images/chem2.jpg" class="img-fluid" alt="Image">
                            <div class="mask-icon"></div>
                        </div>                        
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 special-grid chem">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img src="static/images/chem3.jpg" class="img-fluid" alt="Image">
                            <div class="mask-icon"></div>
                        </div>                        
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 special-grid chem">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img src="static/images/chem4.jpg" class="img-fluid" alt="Image">
                            <div class="mask-icon"></div>
                        </div>                        
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 special-grid chem">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img src="static/images/chem5.jpg" class="img-fluid" alt="Image">
                            <div class="mask-icon"></div>
                        </div>                        
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 special-grid chem">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img src="static/images/chem7.jpg" class="img-fluid" alt="Image">
                            <div class="mask-icon"></div>
                        </div>                        
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 special-grid chem">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img src="static/images/chem8.jpg" class="img-fluid" alt="Image">
                            <div class="mask-icon"></div>
                        </div>                        
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 special-grid cereal">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img src="static/images/cereal2.jpg" class="img-fluid" alt="Image">
                            <div class="mask-icon"></div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 special-grid podded-vegetables ">
                    <div class="products-single fix">
                        <div class="box-img-hover">                            
                            <img src="static/images/veg5.jpg" class="img-fluid" alt="Image">
                            <div class="mask-icon"></div>
                        </div>                        
                    </div>
                </div>
				<div class="col-lg-3 col-md-6 special-grid cereal">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img src="static/images/cereal4.jpg" class="img-fluid" alt="Image">
                            <div class="mask-icon"></div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 special-grid podded-vegetables">
                    <div class="products-single fix">
                        <div class="box-img-hover">                            
                            <img src="static/images/veg2.jpg" class="img-fluid" alt="Image">
                            <div class="mask-icon"></div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 special-grid podded-vegetables">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img src="static/images/veg0.jpg" class="img-fluid" alt="Image">
                            <div class="mask-icon"></div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 special-grid cereal">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img src="static/images/cereal1.jpg" class="img-fluid" alt="Image">
                            <div class="mask-icon"></div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 special-grid fert">
                    <div class="products-single fix">
                        <div class="box-img-hover">                            
                            <img src="static/images/fert0.jpg" class="img-fluid" alt="Image">
                            <div class="mask-icon"></div>
                        </div>                        
                    </div>
                </div>
				
				<div class="col-lg-3 col-md-6 special-grid fert">
                    <div class="products-single fix">
                        <div class="box-img-hover">                            
                            <img src="static/images/fert1.jpg" class="img-fluid" alt="Image">
                            <div class="mask-icon"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 special-grid fert">
                    <div class="products-single fix">
                        <div class="box-img-hover">                           
                            <img src="static/images/fert7.jpg" class="img-fluid" alt="Image">
                            <div class="mask-icon"></div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 special-grid podded-vegetables">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img src="static/images/veg2.jpg" class="img-fluid" alt="Image">
                            <div class="mask-icon"></div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 special-grid fert">
                    <div class="products-single fix">
                        <div class="box-img-hover">                           
                            <img src="static/images/fert2.jpg" class="img-fluid" alt="Image">
                            <div class="mask-icon"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 special-grid fert">
                    <div class="products-single fix">
                        <div class="box-img-hover">                           
                            <img src="static/images/fert3.jpg" class="img-fluid" alt="Image">
                            <div class="mask-icon"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 special-grid fert">
                    <div class="products-single fix">
                        <div class="box-img-hover">                           
                            <img src="static/images/fert4.jpg" class="img-fluid" alt="Image">
                            <div class="mask-icon"></div>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-3 col-md-6 special-grid herb">
                    <div class="products-single fix">
                        <div class="box-img-hover">                           
                            <img src="static/images/herb0.jpg" class="img-fluid" alt="Image">
                            <div class="mask-icon"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 special-grid herb">
                    <div class="products-single fix">
                        <div class="box-img-hover">                           
                            <img src="static/images/herb1.jpg" class="img-fluid" alt="Image">
                            <div class="mask-icon"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 special-grid herb">
                    <div class="products-single fix">
                        <div class="box-img-hover">                           
                            <img src="static/images/herb2.jpg" class="img-fluid" alt="Image">
                            <div class="mask-icon"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 special-grid herb">
                    <div class="products-single fix">
                        <div class="box-img-hover">                           
                            <img src="static/images/herb3.jpg" class="img-fluid" alt="Image">
                            <div class="mask-icon"></div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 special-grid fert">
                    <div class="products-single fix">
                        <div class="box-img-hover">                           
                            <img src="static/images/fert5.jpg" class="img-fluid" alt="Image">
                            <div class="mask-icon"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 special-grid fert">
                    <div class="products-single fix">
                        <div class="box-img-hover">                           
                            <img src="static/images/fert6.jpg" class="img-fluid" alt="Image">
                            <div class="mask-icon"></div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 special-grid consultation-and-advisory">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img src="static/images/consult1.jpg" class="img-fluid" alt="Image">
                            <div class="mask-icon"></div>
                        </div>                        
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 special-grid herb">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img src="static/images/herb4.jpg" class="img-fluid" alt="Image">
                            <div class="mask-icon"></div>
                        </div>                        
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 special-grid consultation-and-advisory">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img src="static/images/consult8.jpg" class="img-fluid" alt="Image">
                            <div class="mask-icon"></div>
                        </div>                        
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 special-grid consultation-and-advisory">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img src="static/images/consult9.jpg" class="img-fluid" alt="Image">
                            <div class="mask-icon"></div>
                        </div>                        
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 special-grid consultation-and-advisory">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img src="static/images/consult10.jpg" class="img-fluid" alt="Image">
                            <div class="mask-icon"></div>
                        </div>                        
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 special-grid consultation-and-advisory">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img src="static/images/consult11.jpg" class="img-fluid" alt="Image">
                            <div class="mask-icon"></div>
                        </div>                        
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 special-grid podded-vegetables">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img src="static/images/veg4.jpg" class="img-fluid" alt="Image">
                            <div class="mask-icon"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 special-grid consultation-and-advisory">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img src="static/images/consult2.jpg" class="img-fluid" alt="Image">
                            <div class="mask-icon"></div>
                        </div>                        
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 special-grid consultation-and-advisory">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img src="static/images/consult3.jpg" class="img-fluid" alt="Image">
                            <div class="mask-icon"></div>
                        </div>                        
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 special-grid consultation-and-advisory">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img src="static/images/consult4.jpg" class="img-fluid" alt="Image">
                            <div class="mask-icon"></div>
                        </div>                        
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 special-grid consultation-and-advisory">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img src="static/images/consult5.jpg" class="img-fluid" alt="Image">
                            <div class="mask-icon"></div>
                        </div>                        
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 special-grid consultation-and-advisory">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img src="static/images/consult6.jpg" class="img-fluid" alt="Image">
                            <div class="mask-icon"></div>
                        </div>                        
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 special-grid consultation-and-advisory">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img src="static/images/consult7.jpg" class="img-fluid" alt="Image">
                            <div class="mask-icon"></div>
                        </div>                        
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 special-grid podded-vegetables">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img src="static/images/veg1.jpg" class="img-fluid" alt="Image">
                            <div class="mask-icon"></div>
                        </div>                        
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 special-grid tools">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img src="static/images/tool1.jpg" class="img-fluid" alt="Image">
                            <div class="mask-icon"></div>
                        </div>                        
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 special-grid tools">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img src="static/images/tool.jpg" class="img-fluid" alt="Image">
                            <div class="mask-icon"></div>
                        </div>                        
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 special-grid tools">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img src="static/images/tool2.jpg" class="img-fluid" alt="Image">
                            <div class="mask-icon"></div>
                        </div>                        
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 special-grid tools">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img src="static/images/tool3.jpg" class="img-fluid" alt="Image">
                            <div class="mask-icon"></div>
                        </div>                        
                    </div>
                </div>

            </div>
        </div>
        <p class="text-center"><a class="btn hvr-hover" href="{{ url_for('shop')}}">Shop Now</a></p>
    </div>
    <!-- End Service  -->
{% endblock %}